[mysqld]
# Authentication plugin [1]
default_authentication_plugin = mysql_native_password

# Network configuration [2]
bind-address = 0.0.0.0

# DNS Optimization [3]
skip-name-resolve

# [1] Use native password authentication (required for compatibility with many 
#		apps)
#
# ------------------------------------------------------------------------------
#
# [2] Listen on all available network interfaces, that is, accept connections
#		from anywhere, including Docker's internal bridge network, and not just 
#		localhost.
# 		WordPress container connects to MariaDB via the container network
#		(e.g., to the hostname mariadb). If we don’t set 
#			`bind-address = 0.0.0.0`
#		MariaDB might default to 127.0.0.1, which allows only local connections
#		(inside the container itself), and our WordPress container would get:
#			ERROR 2002 (HY000): Can't connect to MySQL server
# 		So the directive is essential for inter-container communication in 
# 		Docker, unless MariaDB is already set to bind externally by default.
#
# ------------------------------------------------------------------------------
#
# [3] Disable reverse DNS lookups to speed up connection handling
